</div>
</div>

</div>
</body>

<script>
    $(document).ready(function () {
        $('#tbl-players').DataTable({
            "paging": true,
            "pageLength": 10,
            "processing": true,
        });
    });
</script>

</html>